@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

html {
    background: #091128;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
}

/* custom */

.page__title {
    p {
        font-size: 20px;
    }
}

/* typography */

h1 {
    font-weight: 900;
}

h1 small {
    opacity: 0.7;
}

/* color */

.for--error {
    color: #d04542;
}

.for--info {
    color: #3278c1;
}
